& {
  width: 400px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  form {
    display: flex;
    flex-direction: column;
    width: 400px;

    h3 {
      text-transform: uppercase;
    }

    label {

      textarea,
      input {
        display: flex;
        margin: 0;
        padding: 4px 10px;
        height: 40px;
        width: 400px;
        font-size: 14px;
        box-sizing: border-box;
      }

      textarea {
        max-width: 400px;
        min-width: 400px;
        min-height: 200px;
        max-height: 200px;
      }

      margin-bottom: 20px;
    }

    button {
      display: flex;
      margin: 0;
      padding: 4px 10px;
      height: 40px;
      min-width: 200px;
      font-size: 14px;
      box-sizing: border-box;
      background: #00bfa5;
      justify-content: center;
      color: #fff;
    }

    .error-message {
      color: red;
      font-size: 16px;
    }
  }
}