<h1>Create Post</h1>
<form {{action (perform createPost title description) on='submit'}}>
  <label class="label__with-margin">
    <span>Title:</span>
    {{input type='text' value=title}}
  </label>
  <label>
    <span>Description:</span>
  </label>
  {{pell-editor value=description onChange=(action (mut description))}}
  <div>
    <button class="button" type="submit">
      {{#if isRunning}}
        Loading...
      {{else}}
        Publish
      {{/if}}
    </button>
  </div>
</form>