& {
  width: 300px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  form {
    display: flex;
    flex-direction: column;
    width: 200px;

    h3 {
      text-transform: uppercase;
    }

    label {
      input {
        @include input();
      }

      margin-bottom: 20px;
    }

    button {
      @include button();
    }

    .error-message {
      color: red;
      font-size: 16px;
    }
  }
}